@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #8BC2F9;
  --pink: #EA98E3;
  --yellow: #D6F059;
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #ffffff;
    --black: #000000;
    --blue: #8BC2F9;
    --pink: #EA98E3;
    --yellow: #D6F059;
  }
}

body {
  background-color: var(--white);
  color: var(--black);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
