@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --blue: #8BC2F9;
  --pink: #EA98E3;
  --yellow: #D6F059;
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg
  }
  p {
    @apply text-base
  }
  span {
    @apply text-base
  }
}

